// Selectors
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    padding-top: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
    position: relative;
    span.info-logo {
        position: absolute;
        top: 0px;
        left: 100px;
        width: 100px;
    }
    .navbar-brand {
        padding: 0px;
        span {
            position: absolute;
        }
    }
    li {
        a {
            position: relative;
            padding: 22px 35px!important;
            transition-duration: 0.3s;
            color: black!important;
            &:hover {
                background: #ffb607;
                color: white!important;
                transition-duration: 0.3s;
            }
            &:hover::before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '';
                width: 100%;
                background: #cf8f09;
                border: 2px solid #cf8f09;
            }
        }
    }
}

// Querries
// MD
@media (max-width: 991.8px) {
    .navbar {
        li {
            a {
                text-align: center;
            }
        }
        ul {
            margin-top: 20px;
        }
    }
}