main .bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main .bg h1 {
  color: white;
  text-align: center;
}

main .bg .section-items .item-box .item-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  padding: 0px 16px;
  position: relative;
}

.navbar span.info-logo {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 100px;
  padding: 10px 0px;
  line-height: 18px;
}

.navbar .navbar-brand {
  padding: 0px;
}

.navbar .navbar-brand span {
  position: absolute;
}

.navbar li a {
  position: relative;
  padding: 22px 35px !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: black !important;
}

.navbar li a:hover {
  background: #ffb607;
  color: white !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navbar li a:hover::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  background: #cf8f09;
  border: 2px solid #cf8f09;
}

main .bg {
  position: relative;
  background-position: top center;
  height: 450px;
}

main .bg h1 {
  padding-top: 90px;
}

main .bg h3 {
  font-size: 20px;
}

main .bg h6 {
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

main .bg span {
  font-size: 12px;
}

main .bg .section-items {
  color: white;
  padding-bottom: 30px;
}

main .bg .section-items .col-12 {
  text-align: center;
}

main .bg .section-items .item-box {
  position: relative;
  padding-bottom: 30px !important;
  height: 300px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

main .bg .section-items .item-box h3 {
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .bg .section-items .item-box span {
  position: absolute;
  top: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .bg .section-items .item-box .overlay-item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 102px;
  left: 0px;
  width: 100%;
  height: 66%;
}

main .bg div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 91px;
}

main .bg div.contact a {
  text-decoration: none;
  background: #ffb405;
  color: white;
  padding: 14px 20px;
  border-radius: 0px 25px 25px 25px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .bg div.contact a:hover {
  background: white;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 991.8px) {
  .navbar li a {
    text-align: center;
  }
  .navbar ul {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */